In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd 
import datetime # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

df=pd.read_csv('dates_out.csv')
df=df.head(400)

In [2]:
for i in range(0,400):
    x=df['sentence'][i]
    x=x.lower()
    df['sentence'][i]=x
df.head(20)

,sentence,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 288,Unnamed: 289,Unnamed: 290,Unnamed: 291,Unnamed: 292,Unnamed: 293,Unnamed: 294,Unnamed: 295,Unnamed: 296,Unnamed: 297
0,seventeenth july,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,eight april,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24 september,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 may,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25 may,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,twelveth july,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,13th may,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,23rd january,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,one november,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,19 feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,fifteen apr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,16 october,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,8 april,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,30th november,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,12 august,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,eighteenth jun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,twenty one february,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,third november,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ten august,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,twenty eight february,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import re
dic={'jan ':'1','january':'1','feb ':'2','february':'2','mar ':'3','march':'3','apr ':'4','april':'4','may':'5','jun ':'6','june':'6','jul ':'7','july':'7','aug ':'8','august':'8','sep ':'9','sept ':'9','september':'9','oct ':'10','october':'10','nov ':'11','november':'11','dec ':'12','december':'12'}

dates={'one':'1','first':'1','second':'2','two':'2','three':'3','third':'3','four':'4','fourth':'4','five':'5','fifth':'5','six':'6','sixth':'6','seven':'7','seventh':'7','eight':'8','eighth':'8','nine':'9','nineth':'9','ten':'10','tenth':'10','eleven':'11','twelve':'12','twelfth':'12','thirteen':'13','thirteenth':'13','fourteenth':'14','fifteenth':'15','sixteenth':'16','fourteen':'14','fifteen':'15','sixteen':'16','seventeen':'17','seventeenth':'17','eighteen':'18','eighteenth':'18','nineteen':'19','nineteenth':'19','twenty':'20','twenty one':'21','twenty first':'21','twenty second':'22','twenty two':'22','twenty third':'23','twenty three':'23','twenty four':'24','twenty five':'25','twenty six':'26','twenty seven':'27','twenty eight':'28','twenty nine':'29','thirty':'30','thirty first':'31','thirty one':'31'}

In [4]:
#s="13th dec "
t=0
for ii in df['sentence']:
    ii=ii+" "
    print(ii)
    prop=""
    date_int=0
    month_int=0

    date_num=re.search(r'(^([0-9]{1,2}))',ii)
    if date_num:
        a=date_num.group(1)
        #print(a)
        date_int=int(a)
        prop=prop+a+"-"
        
    date_text=re.search(r'(^((one|first|second|two|three|third|four|fourth|five|fifth|six|sixth|seven|seventh|eighth|eight|nine|nineth|ten|tenth|eleven|eleventh|twelve|twelfth|thirteen|thirteenth|fourteenth|fifteenth|sixteenth|seventeenth|fourteen|fifteen|sixteen|seventeen|eighteen|eighteenth|nineteen|nineteenth|twenty|twenty\sone|twenty\sfirst|twenty\ssecond|twenty\stwo|twenty\sthird|twenty\sthree|twenty\sfour|twenty\sfive|twenty\ssix|twenty\sseven|twenty\seight|twenty\snine|thirty|thirty\sfirst|thirty\sone)?(\s)?(-|\s)?(st|nd|rd|th|of)?(\s)?(jan\s|january|feb\s|february|mar\s|march|apr\s|april|may|jun\s|june|jul\s|july|aug\s|august|sep\s|sept|september|oct\s|october|nov\s|november|dec\s|december)))',ii)
    if date_text:
        date_out=date_text.group(3)
        for l,m in dates.items():
            if l==date_out:
                prop=prop+m+"-"
        
        
        
    month=re.search(r'(jan\s|january|feb\s|february|mar\s|march|apr\s|april|may|jun\s|june|jul\s|july|aug\s|august|sep\s|sept\s|september|oct\s|october|nov\s|november|dec\s|december)',ii)
    if month:
        b=month.group(1)
        #print("bbbbb",b)
        for i,j in dic.items():
            #print("iijjjjjjjjjjjj",i)
            if b==i:
                prop=prop+j+'-'
                month_int=int(j)
                #print(prop)
                break
    year=re.search(r'(([0-9]{1,4}(\s))$)',ii)
    if year:
        t=1
        yearr=year.group(0)
        prop=prop+yearr
        print(prop)
    if t!=1:
        monthh = datetime.datetime.now().strftime("%m")
        mon=int(monthh)
        yeear = datetime.datetime.now().strftime("%Y")
        yr=int(yeear)
        if mon>month_int:
            yr=yr+1
            yrr=str(yr)
            prop=prop+yrr
            print(prop)
        else:
            prop=prop+yeear
            print(prop)

seventeenth july
17-7-2020
eight april
8-4-2020
24 september
24-9-2020
1 may
1-5-2020
25 may
25-5-2020
twelveth july
12-7-2020
13th may
13-5-2020
23rd january
23-1-2021
one november
1-11-2020
19 feb
19-2-2021
fifteen apr
15-4-2020
16 october
16-10-2020
8 april
8-4-2020
30th november
30-11-2020
12 august
12-8-2020
eighteenth jun
18-6-2020
twenty one february
21-2-2021
third november
3-11-2020
ten august
10-8-2020
twenty eight february
28-2-2021
thirteen november
13-11-2020
sixth dec
6-12-2020
21 march
21-3-2020
eighteenth sept
18-9-2020
18 november
18-11-2020
nineteenth july
19-7-2020
23 november
23-11-2020
23 apr
23-4-2020
6 aug
6-8-2020
twenty seven march
27-3-2020
eleventh october
11-10-2020
three september
3-9-2020
twenty second june
22-6-2020
28 january
28-1-2021
sixteenth january
16-1-2021
28 jan
28-1-2021
26th september
26-9-2020
19 december
19-12-2020
23rd august
23-8-2020
nineteenth may
19-5-2020
6 december
6-12-2020
eleven september
11-9-2020
1st may
1-5-2020
twenty two january
22-1-2021
6th january
6-1-2021
thirty aug
30-8-2020
5 feb
5-2-2021
fourth aug
4-8-2020
fourteenth may
14-5-2020
eighteen august
18-8-2020
8 aug
8-8-2020
14th april
14-4-2020
fifteen dec
15-12-2020
five december
5-12-2020
twenty one february
21-2-2021
3rd september
3-9-2020
twenty august
20-8-2020
12th january
12-1-2021
eleventh december
11-12-2020
five february
5-2-2021
3rd november
3-11-2020
7th december
7-12-2020
10 december
10-12-2020
three october
3-10-2020
eighth september
8-9-2020
19 january
19-1-2021
third april
3-4-2020
7th june
7-6-2020
fifteenth september
15-9-2020
28 february
28-2-2021
five september
5-9-2020
7th september
7-9-2020
18 dec
18-12-2020
third march
3-3-2020
25 april
25-4-2020
four aug
4-8-2020
fifteen july
15-7-2020
5th october
5-10-2020
22 june
22-6-2020
second november
2-11-2020
1 august
1-8-2020
twenty third mar
23-3-2020
30th january
30-1-2021
24th june
24-6-2020
1st april
1-4-2020
eighth january
8-1-2021
eleven november
11-11-2020
seventeenth october
17-10-2020
twenty five june
25-6-2020
11th december
11-12-2020
21st february
21-2-2021
nineteenth january
19-1-2021
25 aug
25-8-2020
5 sept
5-9-2020
eighteen apr
18-4-2020
8th december
8-12-2020
fourth june
4-6-2020
five oct
5-10-2020
twenty nine nov
29-11-2020
23rd feb
23-2-2021
6 of november
6-11-2020
twenty one of october
21-10-2020
seventeen of apr
17-4-2020
five of jun
5-6-2020
21st of september
21-9-2020
eight of december
8-12-2020
nineth of june
9-6-2020
tenth of november
10-11-2020
14th of october
14-10-2020
nineth of jul
9-7-2020
23 of december
23-12-2020
three of february
3-2-2021
twenty seven of july
27-7-2020
26th of jul
26-7-2020
7 of july
7-7-2020
twenty third of march
23-3-2020
22nd of jun
22-6-2020
7th of october
7-10-2020
nineth of aug
9-8-2020
ten of jan
10-1-2021
21st of dec
21-12-2020
twenty of september
20-9-2020
5 of march
5-3-2020
19 of december
19-12-2020
twenty second of february
22-2-2021
nineteen of may
19-5-2020
18th of jun
18-6-2020
fifteen of june
15-6-2020
nineth of january
9-1-2021
nineteenth of september
19-9-2020
twenty first of march
21-3-2020
four of sept
4-9-2020
6 of oct
6-10-2020
3rd of sept
3-9-2020
10 of jan
10-1-2021
24 of june
24-6-2020
2nd of apr
2-4-2020
one of mar
1-3-2020
15th of aug
15-8-2020
8 of january
8-1-2021
19th of june
19-6-2020
two of november
2-11-2020
1 of oct
1-10-2020
21 of october
21-10-2020
three of oct
3-10-2020
10 of november
10-11-2020
18th of february
18-2-2021
25 of aug
25-8-2020
twenty three of oct
23-10-2020
3rd of march
3-3-2020
20th of sept
20-9-2020
fourteen of jan
14-1-2021
15 of june
15-6-2020
7th of january
7-1-2021
thirty of oct
30-10-2020
twenty seven of february
27-2-2021
16 of july
16-7-2020
12 of october
12-10-2020
eighteenth of august
18-8-2020
19th of july
19-7-2020
sixteen of july
16-7-2020
23 of jun
23-6-2020
fifth of jan
5-1-2021
third of mar
3-3-2020
eighth of march
8-3-2020
21 of june
21-6-2020
eighteen of march
18-3-2020
19 of april
19-4-2020
twenty four of mar
24-3-2020
16 of october
16-10-2020
24 of january
24-1-2021
9th of july
9-7-2020
20th of july
20-7-2020
two of jan
2-1-2021
23rd of january
23-1-2021
30th of april
30-4-2020
29th of jan
29-1-2021
5 of january
5-1-2021
twenty five of august
25-8-2020
24th of october
24-10-2020
twenty eight of december
28-12-2020
13th of jan
13-1-2021
1st of oct
1-10-2020
24th of may
24-5-2020
19th of october
19-10-2020
9th of february
9-2-2021
14th of jun
14-6-2020
twentieth of mar
3-2020
22nd of nov
22-11-2020
29th of jun
29-6-2020
thirteen of oct
13-10-2020
7 of mar
7-3-2020
one of jan
1-1-2021
thirteenth of jun
13-6-2020
ten of march
10-3-2020
eighteenth of january
18-1-2021
sixteenth of february
16-2-2021
twelve of january
12-1-2021
nineteenth of august
19-8-2020
26 of feb
26-2-2021
8 april 2039
8-4-2039
24 december 2020
24-12-2020
3rd jun 2011
3-6-2011
eleven oct 2010
11-10-2010
three february 2022
3-2-2022
5th october 2001
5-10-2001
29 apr 2023
29-4-2023
29 oct 1999
29-10-1999
twenty third august 2012
23-8-2012
thirty october 2028
30-10-2028
twenty december 2193
20-12-2193
10th august 2022
10-8-2022
7 october 2014
7-10-2014
thirty june 2022
30-6-2022
tenth september 2021
10-9-2021
twenty four feb 2015
24-2-2015
13 october 2024
13-10-2024
2nd april 2027
2-4-2027
twenty second jan 2004
22-1-2004
twenty first september 2033
21-9-2033
2nd jun 2027
2-6-2027
6 jun 2002
6-6-2002
six june 2019
6-6-2019
eighteen aug 2003
18-8-2003
2nd mar 1889
2-3-1889
five june 2002
5-6-2002
nine december 2048
9-12-2048
8 june 2018
8-6-2018
eighth june 2032
8-6-2032
9 mar 2048
9-3-2048
seventeen feb 2022
17-2-2022
13 may 2025
13-5-2025
eighth dec 2021
8-12-2021
15th dec 2023
15-12-2023
two apr 2003
2-4-2003
fourteen january 2039
14-1-2039
13 mar 1999
13-3-1999
16 march 2019
16-3-2019
23 january 2029
23-1-2029
21 july 2033
21-7-2033
1st jun 2002
1-6-2002
2nd december 2015
2-12-2015
21st dec 2048
21-12-2048
26th april 2029
26-4-2029
13th mar 2100
13-3-2100
nine february 2015
9-2-2015
12 february 2003
12-2-2003
1 march 2028
1-3-2028
eighth january 2010
8-1-2010
four may 2023
4-5-2023
4th february 2016
4-2-2016
26 jun 2013
26-6-2013
twenty six march 2026
26-3-2026
23rd feb 2193
23-2-2193
fifth may 2039
5-5-2039
thirty aug 2027
30-8-2027
31 dec 2100
31-12-2100
twenty seven december 2018
27-12-2018
1 dec 2193
1-12-2193
five oct 2100
5-10-2100
thirteen september 2028
13-9-2028
twenty three may 1998
23-5-1998
fourteen sept 2010
14-9-2010
12 august 2013
12-8-2013
10 february 2003
10-2-2003
twenty second may 2033
22-5-2033
seventeenth sept 2015
17-9-2015
10th jun 2193
10-6-2193
tenth october 2016
10-10-2016
2nd october 2022
2-10-2022
28 december 2025
28-12-2025
twenty two january 2016
22-1-2016
6th jun 2017
6-6-2017
26 mar 2021
26-3-2021
three march 2017
3-3-2017
10 november 2048
10-11-2048
11 feb 2193
11-2-2193
four november 2039
4-11-2039
eight november 2031
8-11-2031
26th may 2020
26-5-2020
nineteenth april 2028
19-4-2028
twenty first june 2019
21-6-2019
22nd jul 2017
22-7-2017
13th jun 2032
13-6-2032
16 may 2013
16-5-2013
25 july 2011
25-7-2011
two dec 2193
2-12-2193
31 jun 2027
31-6-2027
29 september 2022
29-9-2022
first february 2012
1-2-2012
7 december 2026
7-12-2026
seventh march 1999
7-3-1999
third august 2010
3-8-2010
seventh december 2193
7-12-2193
tenth november 2015
10-11-2015
sixteenth jun 2193
16-6-2193
seven dec 2015
7-12-2015
ten october 1889
10-10-1889
twenty seven apr 2028
27-4-2028
nineteenth aug 2019
19-8-2019
19th of october 2029
19-10-2029
14th of june 2004
14-6-2004
seventeenth of sept 2014
17-9-2014
2nd of august 2022
2-8-2022
22nd of june 2010
22-6-2010
13 of october 2014
13-10-2014
twenty nine of october 2003
29-10-2003
4 of apr 2003
4-4-2003
10 of apr 2018
10-4-2018
sixteenth of june 1999
16-6-1999
13th of aug 2040
13-8-2040
6 of jan 2027
6-1-2027
seventeen of jun 2013
17-6-2013
12th of feb 2029
12-2-2029
eight of december 2001
8-12-2001
12 of may 2022
12-5-2022
18th of november 2021
18-11-2021
18 of feb 2002
18-2-2002
19th of december 2023
19-12-2023
28th of january 2003
28-1-2003
25th of dec 2032
25-12-2032
15th of sept 2026
15-9-2026
fifth of march 2039
5-3-2039
13 of august 2019
13-8-2019
seven of december 2027
7-12-2027
2nd of november 2022
2-11-2022
21st of nov 2019
21-11-2019
7 of jun 2015
7-6-2015
eight of february 2048
8-2-2048
10 of june 2039
10-6-2039
three of october 2023
3-10-2023
5 of august 2028
5-8-2028
13 of june 2039
13-6-2039
7 of feb 2004
7-2-2004
fourteen of january 2012
14-1-2012
twelveth of january 2029
1-2029
19 of december 2027
19-12-2027
eleventh of jan 1998
1-1998
25 of november 2030
25-11-2030
18th of mar 2013
18-3-2013
fifth of june 2003
5-6-2003
1 of december 2017
1-12-2017
thirteen of february 2016
13-2-2016
13th of august 2032
13-8-2032
7th of september 2021
7-9-2021
twelveth of dec 2019
12-2019
fourteenth of august 2002
14-8-2002
twenty six of october 2015
26-10-2015
nineteenth of march 2022
19-3-2022
30 of feb 2029
30-2-2029
twenty six of october 2048
26-10-2048
twentieth of february 2040
2-2040
16th of october 2018
16-10-2018
13th of oct 1998
13-10-1998
13 of january 2015
13-1-2015
fourteen of august 2002
14-8-2002
fifth of june 1998
5-6-1998
28 of sept 2027
28-9-2027
sixth of oct 2039
6-10-2039
eighteenth of mar 2021
18-3-2021
eleven of mar 2039
11-3-2039
sixteen of oct 2022
16-10-2022
twenty three of october 2001
23-10-2001
26th of mar 2030
26-3-2030
30th of february 2011
30-2-2011
7th of august 2002
7-8-2002
sixteenth of mar 2015
16-3-2015
nineteenth of may 2048
19-5-2048
23rd of august 2100
23-8-2100
eleventh of september 2010
9-2010
sixteen of october 2015
16-10-2015
eleven of september 2026
11-9-2026
six of jul 2027
6-7-2027
twenty second of november 2023
22-11-2023
4th of march 2017
4-3-2017
sixteenth of february 2023
16-2-2023
5th of may 2027
5-5-2027
2 of january 2048
2-1-2048
24 of aug 2031
24-8-2031
twelve of december 2050
12-12-2050
twenty three of aug 2004
23-8-2004
twenty second of july 2040
22-7-2040
eighteenth of july 2026
18-7-2026
8th of july 2014
8-7-2014
seventh of may 2032
7-5-2032
two of jan 2021
2-1-2021
eleven of january 2040
11-1-2040
fourteen of may 2032
14-5-2032
eighth of october 2022
8-10-2022
twentieth of january 2021
1-2021
18 of march 1999
18-3-1999
twenty five of march 2050
25-3-2050
10 of july 2040
10-7-2040
twenty four of march 1998
24-3-1998
24 of january 2100
24-1-2100
22nd of march 1998
22-3-1998
2nd of april 2027
2-4-2027
nineth of april 2027
9-4-2027
three of december 2023
3-12-2023
five of august 2032
5-8-2032